grpcio==1.74.0
grpcio-tools==1.74.0
grpcio-health-checking==1.74.0
protobuf==5.29.0
grpc-interceptor
structlog
tenacity
python-dotenv
fastapi
uvicorn[standard]
prometheus-client
prisma==0.15.0
redis==5.0.8
fastapi==0.110.3
prometheus-client==0.21.0
pydantic==2.11.7
